on boot
    mkdir /dev/socket
    mkdir /dev/socket/qmux_audio
    chown 1001 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth
    chown 1001 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps
    chown 1001 /dev/socket/qmux_gps
    mkdir /dev/socket/qmux_nfc
    chown 1001 /dev/socket/qmux_nfc
    mkdir /dev/socket/qmux_radio
    chown 1001 /dev/socket/qmux_radio

    # Allow QMUX daemon to assign port open wait time
    chown radio radio /sys/devices/virtual/misc/multipdp/modem_wait

# Qmi MUX Daemon
service qmuxd /odm/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth wakelock gps nfc diag
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:ro.boot.baseband=apq
    setprop ro.radio.noril yes
    stop ril-daemon
    enable qmuxd
